<!-- <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> -->

<div class="wrapper">
    <div class="sidebar">
        <div class="svg">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="80" height="80" viewBox="0 0 1080 1080" xml:space="preserve">
                <desc>Created with Fabric.js 3.5.0</desc>
                <defs>
                </defs>
                <rect x="0" y="0" width="100%" height="100%" fill="#4b4276"/>
                <g transform="matrix(4.6095 0 0 4.6095 540.0027 540.0024)" id="600855">
                <g style="" vector-effect="non-scaling-stroke">
                        <g transform="matrix(0.9973 -0.0732 0.0732 0.9973 -12.6977 -11.7727)">
                <rect style="stroke: rgb(0,0,0); stroke-width: 10; stroke-dasharray: none; stroke-linecap: square; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: #ffffff; fill-rule: nonzero; opacity: 1;" x="-82.76" y="-75" rx="0" ry="0" width="165.52" height="150"/>
                </g>
                        <g transform="matrix(1 0 0 1 -13.647 -24.6685)">
                <linearGradient id="SVGID_3" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.9973 -0.0732 0.0732 0.9973 -98.7475 -66.3152)" x1="93.628" y1="24.229" x2="93.628" y2="122.5">
                <stop offset="0%" style="stop-color:rgb(207, 111, 188);stop-opacity: 1"/>
                <stop offset="100%" style="stop-color:rgb(156,38,131);stop-opacity: 1"/>
                </linearGradient>
                <polygon style="stroke: rgb(0,0,0); stroke-width: 5; stroke-dasharray: none; stroke-linecap: square; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: url(#SVGID_3); fill-rule: nonzero; opacity: 1;" points="73.238,43.8965 -66.044,54.1165 -73.238,-43.8945 66.048,-54.1165 "/>
                </g>
                        <g transform="matrix(1 0 0 1 17.765 17.659)">
                <rect style="stroke: rgb(0,0,0); stroke-width: 10; stroke-dasharray: none; stroke-linecap: square; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" x="-82.76" y="-75" rx="0" ry="0" width="165.52" height="150"/>
                </g>
                        <g transform="matrix(1 0 0 1 17.765 4.7285)">
                <linearGradient id="SVGID_4" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1 0 0 1 -123.844 -102.7105)" x1="123.84" y1="53.573" x2="123.84" y2="151.85">
                <stop offset="0%" style="stop-color:rgb(63, 197, 197);stop-opacity: 1"/>
                <stop offset="100%" style="stop-color:rgb(49, 95, 156);stop-opacity: 1"/>
                </linearGradient>
                <rect style="stroke: rgb(0,0,0); stroke-width: 5; stroke-dasharray: none; stroke-linecap: square; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: url(#SVGID_4); fill-rule: nonzero; opacity: 1;" x="-69.83" y="-49.1375" rx="0" ry="0" width="139.66" height="98.275"/>
                </g>
                </g>
                </g>
            </svg>
        </div>
        <ul>
            <li><a [routerLink] = "['/metadata']"><i class="fas fa-home"></i> Extract Metadata </a></li>
            <li><a [routerLink] = "['/watermark']"><i class="fas fa-address-card"></i> Watermark </a></li>
            <li><a [routerLink] = "['/blurrydetection']"><i class="fas fa-address-card"></i> DetectBlur </a></li>
            <!-- <li><a [routerLink] = "['/segmentation']"><i class="fas fa-address-card"></i> Segmentation </a></li> -->
            <li><a [routerLink] = "['/plot']"><i class="fas fa-address-card"></i> PixelPlot </a></li>
            <li><a [routerLink] = "['/typeconvertor']"><i class="fas fa-address-card"></i> TypeConvertor </a></li>
            <li><a [routerLink] = "['/removenoise']"><i class="fas fa-address-card"></i> RemoveNoise </a></li> 
            <!-- <li><a [routerLink] = "['/textrecognition']"><i class="fas fa-address-card"></i> TextRecognition </a></li> -->
            <li><a [routerLink] = "['/remove_red_eye']"><i class="fas fa-address-card"></i> RemoveRedEyes </a></li>
        </ul> 
    </div>
</div>